$main: #92d2ff;
$light: rgb(164, 217, 255);
$dark: rgb(77, 181, 255);
$darkaccent: rgb(19, 145, 235);
$lightaccent: rgb(219, 240, 255);
$lighttrans: rgb(219, 240, 255,.6);
$accent: rgb(255,255,255);

$gold: #FC9B0F;
$darkgold: #9E610E;
$lightgold: #FEC70B;
$brown: #713105;
$darkbrown: #a15d3b;
$paper: #F3E4C7;