@use 'colors';
@use 'fonts';



 /*PONY CARD*/
    .card{

        background-color: colors.$gold;
        border-radius: 10px;
        border: 2px solid colors.$brown;
        .cardborder{
            border: 2px solid colors.$lightgold;
            border-radius: 10px;
      
        }
        &__status{
            background-image: url(../images/shine.svg);
            background-repeat: no-repeat;
            background-position: right;

        }
         &__substatus{
    
            display: flex;
            justify-content: flex-end;
            align-items: end;
            height: 20px;
            .statusicon{
  
                margin-bottom: -15px;
            }
        }

        &__pony{

            background-color: colors.$accent;

        }
     
        }//END OF CARD

    .card:hover{
        background-color: colors.$lightgold;
        h4{
            color:rgb(255, 253, 243);
        }
        .statusicon{
            filter:brightness(130%);
        }
    }

