.weather {
  border-radius: 100%;
  background-image: url(http://127.0.0.1:8000/storage/images/sun.png);
  background-size: cover;
  z-index: -1;
}

.goldbanner {
  width: 100%;
  background-color: #FC9B0F;
  border-top: 2px solid #713105;
  border-bottom: 2px solid #713105;
  overflow: hidden;
}
.goldbanner img {
  float: right;
}

.bannerlight {
  background-color: #FEC70B;
  height: 4px;
}

.alerts a {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
}
.alerts a:hover {
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
}