@use 'colors';
@use 'fonts';

*{
    box-sizing: border-box;
}

body{
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #A4D9FF;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #92D2FF 0, #92D2FF 1px, #A4D9FF 0, #A4D9FF 50%);
    box-sizing: border-box;
}
a{
    text-decoration: none; 
}

.red{
    color: red;
}
.white{
    color: white;
}
p{
    margin: 0;
}
h3 {
    color: colors.$darkbrown;
    font-family: fonts.$script;
    font-size: 24px;
}
h4,h5{
    padding: 0;
    margin: 0;
    font-family: fonts.$text;
}
label{
    font-family: fonts.$text;
    font-weight: 700;
    color: colors.$darkaccent;
}

h5{
    font-size: 16px;
    text-align: center;
    color: colors.$darkbrown;
}


.success{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 20px;
    height: 40px;
    background-color: #bcf3bc;
    border-radius: 15px;
    color: green;
    font-weight: 600;
    border: 1px solid green;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 20px 0;
    height: 40px;
    background-color: #ff8282;
    border-radius: 15px;
    color: #c20000;
    border: 1px solid #c20000;
    font-weight: 600;
}

.btn-gold{
    height: 40px;
    width: 130px;
    background-image: url(../images/button.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    color: colors.$brown;
    font-weight: 700;
}
.btn-gold:hover{
    transform: translateY(-10px);
}
.btn-usage{
    box-shadow: 5px 5px colors.$main;
    background-color: colors.$lightaccent;
    border: 2px solid colors.$main;
    margin: 10px;
    color: colors.$dark;
    font-size: 17px;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
}
.btn-usage:hover{
    background-color: colors.$accent;
    color: colors.$main;
}
//BASIC FORMS
fieldset{
    margin: 10px 0;
    border-radius: 20px;
    legend{
        font-family: fonts.$text;
        background-color: colors.$gold;
        height: 25px;
        border: 1px solid colors.$brown;
        margin-bottom: 10px;
        border-radius: 8px;
        box-shadow: colors.$gold 0px 0px 0px 3px, colors.$brown 0px 0px 0px 4px;
    }
}


/*CSS ANIMATION*/
.floating{
    animation: float 2s ease-in-out infinite;
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}




@import 'main';
@import 'userinfo';
@import 'stable';
@import 'ponyprofile';
@import 'inventory';
@import 'generator';