:root{
    --main: rgb(146, 210, 255);
    --bglight: rgb(164, 217, 255);
    --dark: rgb(77, 181, 255);
    --darkaccent: rgb(19, 145, 235);
    --light: rgb(219, 240, 255);
    --lighttrans: rgb(219, 240, 255,.6);
    --accent: rgb(255,255,255);
}




.logos{
    z-index: 99;
}

input{
    border: 2px solid var(--dark);
}

/*TAB SHAPE*/
.tab-shape{
    min-width: 860px;
    max-width: 960px;
    background-color: var(--accent);
    border: 3px solid white;
    padding: 5px;
    border-radius: 0 20px 20px 20px;  
}

/*BUTTON STYLING */
/* CSS */
.button-8 {
    background-color: var(--dark);
    border-radius: 3px;
    border: 1px solid var(--main);
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: var(--accent);
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    letter-spacing: 1.5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .button-8:hover,
  .button-8:focus {
    background-color: var(--light);
    color: var(--dark);
  }
  
  .button-8:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .button-8:active {
    background-color: var(--light);
    box-shadow: none;
    color: var(--dark);
  }

.nav-button{
    background-color: var(--accent);
    border-style: none;
    letter-spacing: 2px;
    padding: 5px;
    margin-bottom: -2px;
    border-radius: 15px 15px 0 0;
}



/*
CLOUD BACGROUND
CLOUD BACGROUND
CLOUD BACGROUND
CLOUD BACGROUND
*/
    body {
        background-color: #A4D9FF;
        opacity: 0.8;
        background-size: 10px 10px;
        background-image: repeating-linear-gradient(45deg, #92D2FF 0, #92D2FF 1px, #A4D9FF 0, #A4D9FF 50%);
        color: #333;
        font: 100% Arial, Sans Serif;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    #background-wrap {
        bottom: 0;
        left: 0;
        padding-top: 50px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
    }

    /* KEYFRAMES */

    @-webkit-keyframes animateCloud {
        0% {
            margin-left: -1000px;
        }
        100% {
            margin-left: 100%;
        }
    }

    @-moz-keyframes animateCloud {
        0% {
            margin-left: -1000px;
        }
        100% {
            margin-left: 100%;
        }
    }

    @keyframes animateCloud {
        0% {
            margin-left: -1000px;
        }
        100% {
            margin-left: 100%;
        }
    }

    /* ANIMATIONS */

    .x1 {
        -webkit-animation: animateCloud 35s linear infinite;
        -moz-animation: animateCloud 35s linear infinite;
        animation: animateCloud 35s linear infinite;
        
        -webkit-transform: scale(0.65);
        -moz-transform: scale(0.65);
        transform: scale(0.65);
    }

    .x2 {
        -webkit-animation: animateCloud 20s linear infinite;
        -moz-animation: animateCloud 20s linear infinite;
        animation: animateCloud 20s linear infinite;
        
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        transform: scale(0.3);
    }

    .x3 {
        -webkit-animation: animateCloud 30s linear infinite;
        -moz-animation: animateCloud 30s linear infinite;
        animation: animateCloud 30s linear infinite;
        
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        transform: scale(0.5);
    }

    .x4 {
        -webkit-animation: animateCloud 18s linear infinite;
        -moz-animation: animateCloud 18s linear infinite;
        animation: animateCloud 18s linear infinite;
        
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        transform: scale(0.4);
    }

    .x5 {
        -webkit-animation: animateCloud 25s linear infinite;
        -moz-animation: animateCloud 25s linear infinite;
        animation: animateCloud 25s linear infinite;
        
        -webkit-transform: scale(0.55);
        -moz-transform: scale(0.55);
        transform: scale(0.55);
    }

    /* OBJECTS */

    .cloud {
        background: #fff;
        background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
        background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
        background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
        background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
        background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
        
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        
        -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

        height: 120px;
        position: relative;
        width: 350px;
    }

    .cloud:after, .cloud:before {
        background: #fff;
        content: '';
        position: absolute;
        z-indeX: -1;
    }

    .cloud:after {
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;

        height: 100px;
        left: 50px;
        top: -50px;
        width: 100px;
    }

    .cloud:before {
        -webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        border-radius: 200px;

        width: 180px;
        height: 180px;
        right: 50px;
        top: -90px;
    }
/*
CLOUD BACGROUND
CLOUD BACGROUND
CLOUD BACGROUND
CLOUD BACGROUND
*/

.wrapper{
    min-width: 860px;
    max-width: 960px;
}
.top-nav{
    background-color: var(--dark);
    border-left: 2px solid var(--light);
    border-right:2px solid var(--light);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.marquee{
    width: 40%;
    padding-left: 20px;
}
.userinfo{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    justify-content: space-between;
 
}

.bottom-nav{
    display: flex;
    background-color: var(--light);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 0 10px 10px;
    height: 90px;
   
} 
.login {
    display: flex;
 
   
}

.login3 {
    display: flex;
    width: 600px;
   
}

.logout3{
    display: block;
    width: 100px;
    padding-left: 20px;
    padding-top: 20px;
}
.logout3 button{
    margin-bottom: 10px;
}

.login form{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    width: 380px;
    
}
.login fieldset{
    width: 157px;
}
.login button{
    height: 30px;
    margin-top: 28px;
    border-radius: 5px;
    margin-left: 5px;
}
.login legend{
    font-size: 16px;
}

.userholder{
    width: 150px;
    border-radius: 5px;
    margin-top: -10px;
}
#shopnpc{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}
#shopowner{
    height: 60%;
    margin-top: 50px;
}

#shopevent{
    margin-top: -250px;
    margin-left: 550px;
    border: 2px solid black;
    height: 200px;
    width: 200px;
}
/*CHAT BUBBLE DISPLAY */
.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 30%;
    background: var(--main);
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
  }
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid var(--main);
    border-right: 12px solid transparent;
    border-top: 12px solid var(--main);
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  }

.userplay{
    border-radius: 20px 20px 0 0 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    border: 2px solid black;
}
#playercrop{
    height: 350px;
    width: 530px;
    overflow: hidden;
    margin-top:-50px;

}


#playeroption1{
    padding: 20px;
    margin-top: 50px;
    width: 350px;
    height: 200px;
    border: 2px solid blue;
}

.avatar{
    height:530px;
    width: 768px;
    margin-top: 200px;
    margin-left: -320px;
    z-index: 999;
}


.main-content{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--lighttrans);
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}



config{
    border-radius: 20px;
    border: 3px solid white;

    margin: 15px;
    
}


.config1-large, .config3-large{
    width: 75%;
    height: 600px;
    border-radius: 20px;
    border: 3px solid var(--main);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.config3-large{
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
}

.config1-large h2, .config1-md h2, .config1-sm h2, .config1-sm2 h2, .config3-large h2{
    text-align: center;
    background-image: linear-gradient(var(--main), var(--dark));
    margin-bottom: 10px;
    color: white;
    border-radius: 15px 15px 0 0;
}

.config1-md{
 
    width: 25%;
    background-color: white;
    border-radius: 20px;
    border: 3px solid var(--main);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.config1-md table, .config1-sm2 table{
    width: 100%;
}
.config1-md table th, .config1-sm2 th{
    background-color:rgb(146, 210, 255);
    height: 2px;
}

.config1-sm , .config1-sm2{
    width: 300px;
    background-color: white;
    border-radius: 20px;
    border: 3px solid var(--main);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.config1-sm img{
    width: 300px;
}
.config1-sm2{
    width: 500px;
}




.config2{
    width: 100%;
    
}
.sortable{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    }
/* REMOVE THE FORMATTING FOR JQUERY SORTABLES */
.blank{
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

.stables img {
    width: 250px;

}
.stables{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    background-color: white;
    margin: 5px;
    border-radius: 8px;
    cursor: grab;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 

}
#breedstatus{
    height: 20px;
    margin-top: -15px;
    width: 60px;
}
#breedstatus img, #stablestatus img{
    width: 20px;
}
#stablestatus{
 
    height: 20px;
    width: 60px;
    margin-top: -5px;
    display:flex;
    margin-left: 80%;
    flex-direction: wrap;
    
}


.stables h3{
    text-align: center;
    background-image: linear-gradient(var(--main), var(--dark));
    font-size: 20px;
    margin-top: -5px;
    border-radius: 8px 8px 0 0;
    color: white;
}


/* CHECKED STYLES */
.selection-icon input[type="radio"] + label {
    background: var(--light);
    border-radius: 10px;
    padding: 7px;
    border:3px solid  var(--dark);
    filter: opacity(30%);
  }

.selection-icon input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
  }
  .selection-icon input[type="radio"]:checked + label {
    background: var(--dark);
    border-radius: 10px;
    padding: 7px;
    border:3px double  var(--light);
    filter: opacity(100%);
  }
.selection-icon input[type="checkbox"]{
    display: none;
}
.selection-icon input[type="checkbox"] + label {
    text-align: center;
    background: var(--light);
    border-radius: 10px;
    width: 130px;
    padding: 7px;
    border:3px solid  var(--dark);
  }
  .selection-icon input[type="checkbox"]:checked + label {
    background-color: var(--dark);
    border-style: double;
    border-color: var(--light);
    color: white;
  }




#ponytitle{

    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.button-ponyprofile{
    background: none;
    border: none;
    font-size: 20px;
    letter-spacing: 2px;
}


#ponyprofiletable{
    width: 100%; 
    table-layout: fixed; 
    text-align: center; 
    margin-bottom: 30px;


}

#ponyprofiletable th{
    color: grey;
    letter-spacing: 2px;
}
#ponyprofiletable td{
    color: var(--darkaccent);
    letter-spacing:  3px;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
 
}

.worldmapa:hover{
    filter: brightness(130%);

}


#inventorynav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 15px;

}
#remove-btn{
    margin-top: 10px;
    height: 30px;
    width: 50%;
}

#inventorywrap{
    display: block; 
    flex-wrap: wrap; 
    position: relative;
 
}

.inventoryfilter{
    display: inline-flexbox;
    width: 95%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;

}
.inventoryfilter select{
    height: 20px;
    margin-left: 10px;
    width: 120px;
}
.invetorydiv{
    border: 1px solid #314D61;
     border-radius: 10px; 
     width: 140px; 
     text-align: 
     center; margin: 5px;
}
.itemmenu {
    display: none;
    position:absolute;
    padding: 10px;
    background: var(--dark);
    border-radius: 10px;
    border-style: double;
    border-color: var(--light);
    height: 175px;
    margin-top: -180px;
    width: 145px;
}

.itemmenu ul{
    list-style-type: none;
    margin-left: -20px;
}

.itemmenu li{
    margin: 10px;
}
.itemmenu li a{
    text-decoration: none;
    color: black;
}
.itemmenu li a:hover{
    margin: 10px;
   font-weight: bold;
   color: var(--accent);
   font-size: 18px;

}

.hide div{
    display: inline-block;
    border: 1px solid #314D61; 
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    margin-top: 5px;
    font-size: 12px;
    
 
}

.hide {
    display: none;
    position:absolute;
    left: 120px;
    top: -20px;
    z-index: 999;
    background-color: var(--light);
    border: 1px solid #314D61; 
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
    width: 200px;
  }
  
  .invetorydiv:hover + .hide {
    display: block;

  }

#ponyprofile{
    display: flex;
    flex-direction: wrap;
   
    justify-content: space-between;
}

h4 {

    font-size: 16px;
    text-align: center;

}

#maleinputs , #femaleinputs{
    border: 1px solid var(--main);
    border-radius: 20px;
    margin: 8px;
}


#ponyform2 fieldset{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;

    margin-bottom: 5px;

}
#ponyform2 legend{
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
}

#eyeCol2div, #hairCol2div, #hairCol22div, #baseCol2div, #baseColdiv, #accentColdiv,
#accentCol2div, #accentCol22div, #eyeColdiv, #hairColdiv, #hairCol21div, #accentCol21div{
    width: 120px;
    height: 30px;
    margin-left: 20px;
    border-radius: 8px;
    border: 3px solid var(--main);
  }

  #hairCol2div, #eyeCol2div, #hairCol2div, #accentCol2div, 
  #hairCol22div, #baseCol2div, #accentCol22div{
    background: #000000;
  }

  #accentCol21div, #accentColdiv, #baseColdiv, #hairColdiv
  ,#hairCol21div, #eyeColdiv, #baseColdiv {
    background: #fff;
  }

  #ponyform


#ponyform2 select{
width: 200px;
}

#ponyform2 img{
    width: 120px;
    margin: 5px;
}


#ponypic{
    background-color: white;
    width:  600px;
}
#ponystats{
    width: 300px;
    height: 485px;
    border: 1px solid black;
}
#ponystats progress{
    border: 1px solid black;
}

#ponygenes{

    width: 100%;
    padding: 10px;

    text-align: center;
}

#ponygenetable img{
    width: 90px;
    margin-top: -10px;
    margin-bottom: 5px;
}
#ponygenes table{
    width: 60%;
}

#ponygenetable h3{
    background-color: var(--main);
    text-align: center;

}

#ponyquest{
    padding: 20px;
    text-align: center;
}


#levelinfo{
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

#ponystats table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}
#colorset table{
    height: 160px;


}
#colorset table #cc{
    text-transform: uppercase;
}

.genebutton{
        outline: none;
        color: #DAA06D;
        padding: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border: 2px dashed #DAA06D;
        border-radius: 15px;
        background-color: #EADDCA;
        box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
        transition: .1s ease-in-out, .4s color;
      
}

.coloricon{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.floating {  
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
.floatingI {  
    animation-name: floatingI;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes floatingI {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 4px); }
    100%   { transform: translate(0, -0px); }    
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

